@import 'https://fonts.googleapis.com/css?family=Roboto:100,200,300';

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    color: #555;
    background: white;
}

main {
    margin: 0 auto;
    padding: 4em 1em;
    max-width: 50em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

h1, h2, strong {
    color: #333;
}

header {
    background-color: #263d36;
    background-image: url("../images/header.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 10vw 2em;
    text-align: center;
}

header img {
    display: inline-block;
    height: 120px;
    vertical-align: top;
    width: 120px;
    border-radius: 100%;
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

header a {
    border: 1px solid #006400;
    border-radius: 290486px;
    color: white;
    font-size: 0.6em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-transform: uppercase;
    transition: none 200ms ease-out;
    transition-property: color, background;
}

header a:hover {
    background:  #006400;
    text-decoration: none;
}

h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

h2 a:hover {
    text-decoration: none;
}

h2 img {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    border-radius: 100%;
}

h2 span {
    vertical-align: middle;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

iframe {
    border: none;
    overflow: hidden;
    vertical-align: middle;
}

.accent {
    color: #006400
}
